#container {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

.bg-img {
   background-image: url(../img/road-texture.jpg);
   background-size: 50vh;
   background-repeat: repeat-x;
}

.car1 {
   margin-top: -120px;
   margin-left: 1000px;
}

.car2 {
   position: absolute;
   margin-top: -300px;
   margin-left: 1000px;
}

img {
   display: flex;
   width: 200px;
   height: auto;
}