#container {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

.bg-img {
   background-image: url(../img/road-texture.jpg);
   background-size: 50vh;
   background-repeat: repeat-x;
}

.start {
   position: absolute;
   right: 100px;
}

.start>img {
   margin-bottom: 205px;
}

.car1 {
   margin-top: -120px;
   position: absolute;
   right: 0;
   z-index: 1;
}

.car2 {
   position: absolute;
   margin-top: -300px;
   right: 0;
   z-index: 1;
}

img {
   display: flex;
   width: 200px;
   height: auto;
}

.finish {
   position: absolute;
   left: 0;
}

.start>img {
   width: 100px;
   height: 150px;
   margin-bottom: 205px;
}

.finish>img {
   width: 80px;
   height: 150px;
   margin-bottom: 205px;
   margin-left: 50px;
}